body{
	margin: 0;
	padding: 0;
	font-family: "Robot", sans-serif;

}
header{
	position: fixed;
	background:#22242A;
	padding: 20px;
	width: 100%;
	height: 30px;

}
.leftarea h3{
	font-size: 25px;
	margin: 0;
}
.leftarea{
	color:#fff;
	margin: 0;
	text-transform: uppercase;
	font-weight: 900;
}
.leftarea span{
	color:#1DC4E7;
}
.logout a{
	font-size: 26px;
}
.logout{
	padding: 5px;
	background:none;
	text-decoration: none;
	float: right;
	margin-top: -20px;
	margin-right: 18px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}
.logout:hover{
	background:#0D9DBB;
}
.sidebar{
	background:#2F323A;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;

}
.sidebar .myimg{
width: 40px;
height:	50px;
border-radius: 100px;
transition: 0.5s;
transition-property: background;
box-sizing: border-box;
}
.sidebar h4{
	color:blue;
	

}
.sidebar a{
	color:#fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}
.sidebar a:hover{
	background:#1983D3;
}
 .sidebar i{
 	padding-right: 10px; 
 }
 label #sidebar1{
 	z-index: 1;
 	color:#fff;
 	position: fixed;
 	cursor: pointer;
 	left: 300px;
 	font-size: 20px;
 	margin: 5px 0;
 	transition: 0.5s;
 	transition-property: color;
 }
 label #sidebar1:hover{
 	color:#1983D3;
 }
 #check:checked ~ .sidebar{
 	left: -190px;
 }
 #check:checked ~ .sidebar a span{
 	display: none;
 }
 #check:checked ~ .sidebar a{
 	font-size: 20px;
 	margin-left: 170px;
 	width: 80px;
 }

 .content{
 	margin-left: 250px;
 	background:url(eurico-craveiro-wQU7L7VYIrM-unsplash.jpg) no-repeat;
 	background-position: center;
 	background-size: cover;
 	height: 100vh;
 	transition: 0.5s;
 }
 #check:checked ~ .content{
 	margin-left: 60px;
 }
 #check{
 	display: none;
 }

/*sdfjf*/